.foto {
    width: 66%;
}

body {
    background-color: #8b0000;
    display: flex;
    margin: 12px;
    align-items: center;
    justify-content: space-evenly;

}

div {
    margin: 20px;
    padding: 20px;
}

a{
    color: pink;
    border: 2p;

}

.links{
     display: flex;
     flex-direction: column;
     
}

